<p>You&rsquo;ve been invited to join the &ldquo;{{ invite.project.name }}&rdquo; card stack.</p>

<p>To accept the invite follow this link,</p>

<p>{{ url('projects/join/' ~ invite.hash) }}</p>

<p>Happy planning,<br>
The card stack team</p>
