{% extends "app" %}

{% block content %}
<div class="layout-split-2--detail page-alt">
  <div class="column">
    <div class="card-detail box-shadow" box="2" spacing="4">
      <div spacing>
        <h1 class="alpha">Create a new card</h1>
        <div class="longform">
          <p>Cards can be used to track just about anything. Use them to track a one task or many. Add attachments for additional context.</p>
        </div>
      </div>
      <form action="/cards" method="post" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div spacing="2">
          <p><input type="text" name="card[title]" class="user-input" box placeholder="Name the card..."></p>
          <div class="user-input">
            <textarea name="card[description]" class="invisible-textarea" box placeholder="Describe the card..."></textarea>
            <p class="file-input" box><input type="file" name="card[attachment][]" multiple></p>
          </div>
          <div spacing>
            {% include "card/_settings.twig" %}
          </div>
          <button class="button">Add card</button>
        </div>
      </form>
    </div>
  </div>
  <div class="column">
  
  </div>
</div>
{% endblock %}
