* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  background: #f5f8fa;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #444; }

a {
  color: inherit;
  text-decoration: none; }

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

[box] {
  padding: 10; }

[box="2"] {
  padding: 20; }

[box="3"] {
  padding: 30; }

[spacing] > * + * {
  margin-top: 10; }

[spacing="2"] > * + * {
  margin-top: 20; }

[spacing="3"] > * + * {
  margin-top: 30; }

[spacing="4"] > * + * {
  margin-top: 40; }

[spacing="0.25"] > * + * {
  margin-top: 2.5; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.visually-hidden {
  position: absolute;
  left: -9999px; }

.page {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 701px) {
    .page {
      margin-left: 20px;
      margin-right: 20px; } }

@media (min-width: 701px) {
  .page-alt {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; } }

.box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.project-header {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 50;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden; }
  .project-header a:hover {
    text-decoration: underline; }
  .project-header__title {
    font-weight: 500;
    font-size: 24px;
    color: #50c3ff;
    width: 100%; }
  .project-header__form {
    display: -webkit-box;
    display: flex; }
  .project-header input {
    font: inherit;
    color: inherit;
    border: none;
    width: 100%; }
    .project-header input::-webkit-input-placeholder {
      color: inherit; }
    .project-header input:focus {
      text-decoration: underline;
      outline: none; }
  .project-header__back + input[box] {
    padding-left: 0; }
  .project-header__guard {
    padding-top: 70px; }

@media (min-width: 701px) {
  .stacks {
    white-space: nowrap; } }

.stack {
  display: inline-block;
  width: 100%;
  vertical-align: top; }
  @media (min-width: 701px) {
    .stack {
      height: calc(100vh - 100px);
      width: 300px;
      margin: 0 20px 0 0; } }
  .stack__header {
    font-weight: 600;
    font-size: 16px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .stack__header small {
      float: right; }
    @media (min-width: 701px) {
      .stack__header {
        margin-left: 10px;
        margin-right: 10px; } }
  @media (max-width: 699px) {
    .stack.empty {
      display: none; }
    .stack.first-visible:not(:first-child) {
      margin-top: 0; } }

.create-form {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px; }

.card {
  background: #fff;
  border-radius: 2px;
  white-space: normal;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .card__description {
    font-size: 14px;
    color: #666; }
  .card:hover .card__title, .card:focus .card__title {
    text-decoration: underline; }
  .card__meta > * {
    margin-right: 10px;
    display: inline; }
  .card.hot:after {
    content: "";
    width: 5px;
    height: 5px;
    background: red;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px; }
  .card.complete {
    color: #ccc; }
    .card.complete .card__title {
      text-decoration: line-through; }
    .card.complete .card__description,
    .card.complete .meta strong {
      color: inherit; }
    .card.complete .progress__bar {
      background-color: #ccc; }
  .card.dragging {
    box-shadow: none;
    opacity: 0.5; }

.card-stack {
  padding-bottom: 10px; }
  @media (min-width: 701px) {
    .card-stack {
      max-height: calc(100vh - 140px);
      overflow: auto; } }

#drag-placeholder {
  border-top: 2px solid #50c3ff;
  height: 0;
  position: absolute;
  z-index: 100; }
  #drag-placeholder:before, #drag-placeholder:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -6px;
    top: -5px;
    background: #50c3ff;
    border-radius: 8px; }
  #drag-placeholder:after {
    left: auto;
    right: -6px; }

#drag-proxy {
  background: #fff;
  width: 100px;
  margin-top: -40px;
  margin-left: -50px;
  text-align: center;
  padding: 10px 0 25px 0;
  cursor: move;
  z-index: 101;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute; }

.user-stack {
  white-space: nowrap; }
  .user-stack li {
    display: inline-block; }

.user-initials {
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 100;
  font-size: 9px;
  color: #fff;
  width: 28px;
  height: 28px;
  background: #999;
  margin-left: 10px; }
  .user-initials.empty {
    background: none;
    border: 2px dashed #ccc;
    color: #ccc; }

.longform {
  line-height: 1.5em; }
  .longform p + *, .longform ul + *, .longform ol + *, .longform dl + *, .longform h1 + *, .longform h2 + *, .longform h3 + *, .longform h4 + *, .longform h5 + *, .longform h6 + *, .longform pre + *, .longform blockquote + * {
    margin-top: 10px; }
  .longform ul, .longform ol, .longform dl {
    margin-left: 40px; }
  .longform ul li {
    list-style: square; }
  .longform ol li {
    list-style: decimal; }
  .longform li {
    font-size: 14px; }
  .longform code {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: whiteSmoke;
    padding: 0 2px; }
  .longform a {
    color: #50c3ff; }
    .longform a:hover {
      text-decoration: underline; }
  .longform blockquote {
    font-size: 18px;
    color: #50c3ff;
    margin-left: -10px;
    margin-right: -10px;
    font-style: italic;
    font-weight: 100; }

[class*="layout-split-2"] > .column {
  float: left; }

@media (min-width: 701px) {
  .layout-split-2--detail > .column:nth-child(1) {
    width: 70%;
    max-width: 900px; } }

@media (min-width: 701px) {
  .layout-split-2--detail > .column:nth-child(2) {
    width: 30%; } }

@media (min-width: 701px) {
  .layout-split-2--meta > .column:nth-child(1) {
    width: 30%;
    max-width: 900px; } }

@media (min-width: 701px) {
  .layout-split-2--meta > .column:nth-child(2) {
    width: 70%; } }

.text-align-right {
  text-align: right; }

.card-detail {
  background: #fff;
  border-radius: 1px; }
  @media (min-width: 901px) {
    .card-detail {
      padding-left: 40px;
      padding-right: 40px; } }
  .card-detail__title {
    font-weight: 500;
    font-size: 24px; }

.meta {
  font-size: 14px;
  color: #ccc;
  font-weight: 300; }
  .meta strong {
    font-weight: 400;
    color: #999; }
  .meta a:hover {
    text-decoration: underline; }

.byline {
  font-size: 14px;
  color: #444;
  font-weight: 600; }

.invisible-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 10em;
  width: 100%;
  background: none;
  line-height: 1.5;
  border-bottom: 1px dashed #ccc; }

.user-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  background: rgba(255, 248, 232, 0.5);
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%; }

.project-preview {
  width: 100%;
  display: inline-block;
  border-radius: 1px;
  margin: 0 30px 30px 0; }
  .project-preview--stacks {
    background: #fff; }
  @media (min-width: 701px) {
    .project-preview {
      width: 200px;
      height: 200px;
      float: left; } }

.stacks-preview {
  height: 100px;
  white-space: nowrap;
  overflow: hidden; }

.stack-preview {
  width: 30px;
  background: #50c3ff;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  margin-right: 5px;
  border-radius: 1px; }

.comment-meta {
  display: inline; }
  .comment-meta__item {
    display: inline; }
  .comment-meta__removed {
    text-decoration: line-through; }

.label {
  font-size: 14px;
  color: #999;
  font-weight: 500; }

.checkbox-pill input {
  position: absolute;
  left: -9999px; }
  .checkbox-pill input:checked + label {
    border-color: #50c3ff;
    background-color: #50c3ff; }
    .checkbox-pill input:checked + label:before {
      content: "\2022"; }
  .checkbox-pill input[type="checkbox"]:checked + label:before {
    content: "\2713"; }
  .checkbox-pill input:focus + label {
    text-decoration: underline; }

.checkbox-pill label {
  position: relative;
  background: #999;
  display: inline-block;
  border-radius: 4px;
  padding: 3px 10px 3px 20px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  white-space: nowrap; }
  .checkbox-pill label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    line-height: 20px; }

.inline-pills {
  display: inline-block; }

.show-card-edit:checked, .show-card-edit:checked + .card-prompt {
  display: none; }

.show-card-edit:checked + .card-prompt + .card-edit {
  display: block; }

.show-card-edit:focus + .card-prompt label {
  text-decoration: underline; }

.card-edit {
  display: none; }

.text-button {
  color: #50c3ff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer; }
  .text-button:hover {
    text-decoration: underline; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 10px 15px;
  background: #32a942;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: 300; }
  .button:hover {
    text-decoration: underline; }
  .button.plain {
    background: #eee;
    color: #999;
    font-size: 14px;
    padding: 11px 10px; }

.progress {
  background: transparent;
  height: 2px;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .progress__bar {
    display: block;
    background: #50c3ff;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 2px;
    height: 2px;
    min-width: 10px; }

.stack-chooser__item {
  float: left;
  margin-right: 50px;
  position: relative; }
  .stack-chooser__item:after {
    content: "\2192";
    color: #999;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .stack-chooser__item:last-child:after {
    display: none; }

/*# sourceMappingURL=app.css.map */
