@import "include-media";

$blue: #50c3ff;
$green: #32a942;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #f5f8fa;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

hr  {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

$baseBox: 10;
$multipliers: (
  1,
  2,
  3
);

@each $multiplier in $multipliers {
  @if $multiplier == 1 {
    [box] { padding: $baseBox * $multiplier; }
  }
  @else {
    [box="#{$multiplier}"] { padding: $baseBox * $multiplier; }
  }
}

$baseSpacing: 10;
$spacingMultipliers: (
  1,
  2,
  3,
  4,
  0.25
);

@each $multiplier in $spacingMultipliers {
  @if $multiplier == 1 {
    [spacing] > * + * { margin-top: $baseSpacing; }
  }
  @else {
    [spacing="#{$multiplier}"] > * + * { margin-top: $baseSpacing * $multiplier; }
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.project-header {
  $header-height: 70px;

  background: #fff;
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: $blue;
  }

  &__guard {
    padding-top: $header-height;
  }
}

.stacks {
  @include media('>700px') {
    white-space: nowrap;
  }
}

.stack {
  display: inline-block;
  width: 100%;
  vertical-align: top;

  @include media('>700px') {
    height: calc(100vh - 100px);
    width: 300px;
    margin: 0 20px 0 0;
  }

  &__header {
    font-weight: 600;
    font-size: 16px;
    height: 20px;

    small {
      float: right;
    }
  }
}

.create-form {
  background: rgba(0,0,0,0.05);
  border-radius: 2px;

  &__input {
    width: 100%;
    font-size: 16px;
  }
}

.card {
  background: #fff;
  border-radius: 2px;
  white-space: normal;
  display: block;
  position: relative;
  user-select: none;

  &__description {
    font-size: 14px;
    color: #666;
  }

  &__meta > * {
    margin-right: 10px;
    display: inline-block;
  }

  &.hot:after {
    $size: 5px;

    content: "";
    width: $size;
    height: $size;
    background: red;
    position: absolute;
    top: $size;
    right: $size;
    border-radius: $size;
  }

  &.dragging {
    box-shadow: none;
    opacity: 0.5;
  }
}

.card-stack {
  padding-bottom: 10px;

  @include media('>700px') {
    max-height: calc(100vh - 140px);
    overflow: auto;
  }
}

#drag-placeholder {
  $placeholder-color: $blue;
  $placeholder-size: 8px;
  $line-width: 2px;

  border-top: $line-width solid $placeholder-color;
  height: 0;
  position: absolute;
  z-index: 100;

  &:before, &:after {
    content: "";
    position: absolute;
    width: $placeholder-size;
    height: $placeholder-size;
    left: -$placeholder-size + 2;
    top: -($placeholder-size/2) - ($line-width/2);
    background: $placeholder-color;
    border-radius: $placeholder-size;
  }

  &:after {
    left: auto;
    right: -$placeholder-size + 2;
  }
}

#drag-proxy {
  background: #fff;
  width: 100px;
  margin-top: -40px;
  margin-left: -50px;
  text-align: center;
  padding: 10px 0 25px 0;
  cursor: move;
  z-index: 101;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  position: absolute;
}

.user-stack {
  li {
    display: inline-block;
  }
}

.user-initials {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 100;
  font-size: 9px;
  color: #fff;
  width: 28px;
  height: 28px;
  background: #999;
  margin-left: 10px;

  &.empty {
    background: none;
    border: 2px dashed #ccc;
    color: #ccc;
  }
}

.longform {
  line-height: 1.5em;

  p, ul, ol, dl, h1, h2, h3, h4, h5, h6, pre {
    & + * {
      margin-top: 10px;
    }
  }

  ul, ol, dl {
    margin-left: 40px;
  }

  ul li {
    list-style: square;
  }

  ol li {
    list-style: decimal;
  }

  li {
    font-size: 14px;
  }

  code {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: whiteSmoke;
    padding: 0 2px;
  }

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.card-detail {
  background: #fff;
  border-radius: 1px;
  max-width: 900px;

  @include media('>900px') {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }
}

.meta {
  font-size: 14px;
  color: #ccc;
  font-weight: 300;

  strong {
    font-weight: 400;
    color: #999;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.byline {
  font-size: 14px;
  color: #444;
  font-weight: 600;
}

.invisible-textarea {
  appearance: none;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 10em;
  width: 100%;
  background: none;
  line-height: 1.5;
  border-bottom: 1px dashed #ccc;
}

.user-input {
  background: rgba(255, 248, 232, 0.5);
  border: 1px solid #ccc;
}

.project-preview {
  width: 100%;
  display: inline-block;
  border-radius: 1px;
  margin: 0 30px 30px 0;

  &--stacks {
    background: #fff;
  }

  @include media('>700px') {
    width: 200px;
    height: 200px;
    float: left;
  }
}

.stacks-preview {
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.stack-preview {
  width: 30px;
  background: $blue;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  margin-right: 5px;
  border-radius: 1px;
}

.comment-meta {
  // font-style: italic;
  // text-align: center;
  display: inline;

  &__item {
    display: inline;
  }

  &__added {
    // color: green;
    // opacity: 0.4;
    // font-weight: 600;
  }

  &__removed {
    // color: red;
    // opacity: 0.4;
    // font-weight: 600;
    text-decoration: line-through;
  }
}

.label {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.checkbox-pill {
  input {
    position: absolute;
    left: -9999px;

    &:checked + label {
      border-color: $blue;
      background-color: $blue;

      &:before {
        content: "\2022";
      }
    }

    &[type="checkbox"]:checked + label:before {
      content: "\2713";
    }

    &:focus + label {
      text-decoration: underline;
    }
  }

  label {
    $dotSize: 20px;

    position: relative;
    background: #999;
    display: inline-block;
    border-radius: 4px;
    padding: 3px 10px 3px $dotSize;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $dotSize;
      height: 100%;
      text-align: center;
      line-height: $dotSize;
    }
  }
}

.show-card-edit {
  position: absolute;
  left: -9999px;

  &:checked, &:checked + .card-prompt {
    display: none;
  }

  &:checked + .card-prompt + .card-edit {
    display: block;
  }

  &:focus + .card-prompt label {
    text-decoration: underline;
  }
}

.card-edit {
  display: none;
}

.text-button {
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  appearance: none;
  border: none;
  padding: 10px 15px;
  background: $green;
  border-radius: 1px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.progress {
  $height: 2px;

  background: transparent;
  height: $height;
  border-radius: $height;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__bar {
    display: block;
    background: $blue;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: $height;
    height: $height;
    min-width: 10px;
  }
}

.stack-chooser {
  &__item {
    $arrowWidth: 50px;

    float: left;
    margin-right: $arrowWidth;
    position: relative;

    &:after {
      content: "\2192";
      color: #999;
      font-weight: 600;
      position: absolute;
      top: 0;
      right: $arrowWidth * -1;
      width: $arrowWidth;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.create-invite {
  &__email {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    width: 100%;
  }
}
