@import "include-media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #f5f8fa;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

hr  {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

$baseBox: 10;
$multipliers: (
  1,
  2,
  3
);

@each $multiplier in $multipliers {
  @if $multiplier == 1 {
    [box] { padding: $baseBox * $multiplier; }
  }
  @else {
    [box="#{$multiplier}"] { padding: $baseBox * $multiplier; }
  }
}

$baseSpacing: 10;
$spacingMultipliers: (
  1,
  2,
  3,
  4,
  0.25
);

@each $multiplier in $spacingMultipliers {
  @if $multiplier == 1 {
    [spacing] > * + * { margin-top: $baseSpacing; }
  }
  @else {
    [spacing="#{$multiplier}"] > * + * { margin-top: $baseSpacing * $multiplier; }
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.project-header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: #50c3ff;
    float: left;
  }

  &__guard {
    padding-top: 70px;
  }
}

.stacks {
  @extend .clearfix;

  @include media('>700px') {
    white-space: nowrap;
  }
}

.stack {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  vertical-align: top;

  @include media('>700px') {
    height: calc(100vh - 100px);
    overflow: auto;
    // float: left;
    width: 300px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 0;
  }

  &__header {
    font-weight: 600;
    font-size: 16px;

    &__light {
      font-weight: 300;
      color: #999;
    }

    small {
      float: right;
    }
  }

  &.new {
    border: 2px dashed gray;
  }
}

.card {
  background: #fff;
  border-radius: 1px;
  white-space: normal;
  display: block;
  position: relative;
  user-select: none;

  &__description {
    font-size: 14px;
    color: #ccc;
    font-weight: 300;
  }

  &__assignees {
    float: left;
  }

  &.hot:after {
    $size: 5px;

    content: "";
    width: $size;
    height: $size;
    background: red;
    position: absolute;
    top: $size;
    right: $size;
    border-radius: $size;
  }

  &.dragging {
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    z-index: 100;
    opacity: 0.5;
  }
}

#drag-placeholder {
  border-top: 1px dashed red;
  height: 0;
  margin-bottom: -11px;
  position: relative;
  top: -5px;
}

.user-stack {
  float: right;

  li {
    float: left;
  }
}

.user-initials {
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 100;
  font-size: 9px;
  color: #fff;
  width: 28px;
  height: 28px;
  background: gray;
  float: left;
  margin-left: 10px;

  &.empty {
    background: none;
    border: 2px dashed #ccc;
    color: #ccc;
  }
}

.card-detail {
  background: #fff;
  border-radius: 1px;
  overflow: hidden;
  max-width: 900px;

  @include media('>900px') {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    display: block;
  }

  &__description {
    line-height: 2em;
  }

  &__meta {
    @extend .clearfix;
    @extend .meta;

    @include media('>700px') {
      & > * {
        float: left;
        width: 33%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
}

.meta {
  font-size: 14px;
  color: #ccc;
  font-weight: 300;
  display: block;

  strong {
    font-weight: 400;
    color: #999;
  }
}

.byline {
  font-size: 14px;
  color: #ccc;
  font-weight: 300;

  strong {
    color: #444;
    font-weight: 600;
  }

  a {
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.on-previous-active {
  display: none;
}

.invisible-textarea {
  appearance: none;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 10em;
  width: 100%;
  background: none;
  line-height: 1.5;
}

.project-preview {
  width: 200px;
  height: 200px;
  float: left;
  background: #fff;
  border-radius: 1px;
}

.stacks-preview {
  height: 100px;
}

.stack-preview {
  width: 30px;
  background: #50c3ff;
  height: 20px;
  float: left;
  text-indent: -9999px;
  margin-right: 10px;
  border-radius: 1px;
}

.comment-meta {
  // font-style: italic;
  // text-align: center;
  display: inline;

  &__item {
    display: inline;
  }

  &__added {
    // color: green;
    // opacity: 0.4;
    // font-weight: 600;
  }

  &__removed {
    // color: red;
    // opacity: 0.4;
    // font-weight: 600;
    text-decoration: line-through;
  }
}

.comment-form {
  &__label {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
  }
}

.checkbox-pill {
  input {
    position: absolute;
    left: -9999px;

    &:checked + label {
      border-color: #50c3ff;
      background-color: #50c3ff;

      &:before {
        content: "\2022";
      }
    }

    &[type="checkbox"]:checked + label:before {
      content: "\2713";
    }

    &:focus + label {
      text-decoration: underline;
    }
  }

  label {
    $dotSize: 20px;

    position: relative;
    background: #999;
    display: inline-block;
    border-radius: 4px;
    padding: 3px 10px 3px $dotSize;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $dotSize;
      height: 100%;
      text-align: center;
      line-height: $dotSize;
    }
  }
}

.show-card-edit {
  position: absolute;
  left: -9999px;

  &:checked, &:checked + .card-prompt {
    display: none;
  }

  &:checked + .card-prompt + .card-edit {
    display: block;
  }

  &:focus + .card-prompt label {
    text-decoration: underline;
  }
}

.card-edit {
  display: none;
}

.text-button {
  color: #50c3ff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  appearance: none;
  border: none;
  padding: 10px 15px;
  background: #32a942;
  border-radius: 1px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.progress {
  $height: 2px;

  background: transparent;
  height: $height;
  border-radius: $height;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__bar {
    display: block;
    background: #50c3ff;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: $height;
    height: $height;
    min-width: 10px;
  }
}

.stack-chooser {
  &__item {
    $arrowWidth: 50px;

    float: left;
    margin-right: $arrowWidth;
    position: relative;

    &:after {
      content: "\2192";
      color: #999;
      font-weight: 600;
      position: absolute;
      top: 0;
      right: $arrowWidth * -1;
      width: $arrowWidth;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &:last-child:after {
      display: none;
    }
  }
}
